html{
    margin: 0;
    padding: 0;
    background: gray;
    background-image: url(../images/psychedelic_pattern.png);
    height: 50em;
}

body{
font-family: Arial, Helvetica, sans-serif;
color: #777777;
}

.nav{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
}

#name{
    background: #4aaaa5;
    margin-left: 5%;
    width:25%;
    padding: 10px;
    color: white;
    border: 2px solid teal;
    text-align: center;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    border: 2px solid #cccccc;
    background-color: #ffffff;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}


.navbar{
    float: right;
    padding: 10px;
    text-align: right;
}

section{
    background:#ffffff;
    border: 2px solid #dddddd;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8em;
}

#portfolio{ 
    font-family: Arial, Helvetica, sans-serif; 
    float: left;
    width:95%;
    padding: 10px;
    color: #4aaaa5;
    border: 2px solid white;
    text-align: left;
    border-bottom: 4px solid gray;
    margin-bottom: 1em;
    margin-left: 1em;
}

article{
    margin-left: 1em;
}

.container {
    position: relative;
    color: #ffffff;
  }
img{
    
      margin: 16px;

}
#link {
    position: absolute;
    bottom: 14em;
    left: 1em;
    background: #4aaaa5;
    text-align: center;
    padding: 3px 40px 3px 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
}
#linkrps{
    position: absolute;
    bottom: 3em;
    left: 16px;
    background: #4aaaa5;
    text-align: center;
    padding: 3px 1px 3px 0px;
    
}

#linkrpg {
    position: absolute;
    bottom: 3em;
    left: 12.65em;
    background: #4aaaa5;
    text-align: center;
    padding:3px 33px 3px 34px}

#linkt {
    position: absolute;
    bottom: 3em;
    left: 24.3em;
    background: #4aaaa5;
    text-align: center;
    padding: 3px 31px 3px 32px;
  }

  #linkr {
    position: absolute;
    bottom: 3em;
    left: 36em;
    background: #4aaaa5;
    text-align: center;
    padding: 3px 8px 3px 8px;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
}
  

footer{
    width: 100%;
    padding-top: 1em;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    background-color:#666666;
    text-align: center;
    margin-top: 3em;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3%;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
